@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

.card {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
  perspective: 1000px;
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  transition: transform 0.3s ease-in-out;
}

.card-front {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front img {
  max-width: 100%;
  max-height: 100%;
}

.card-back {
  background-color: #ffd633;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card-back audio {
  width: 80%;
}

.card.flipped .card-front {
  transform: rotateY(-180deg);
}

.card.flipped .card-back {
  transform: rotateY(0);
}

.card.matched {
  opacity: 0.5;
  cursor: default;
}
